/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
/web/bundles/
/app/config/parameters.prod.yml
/web/css/
/web/js/
/docker/docker-compose.pp.yml
/web/upload/*
/app/config/parameters.prod.vps.yml
/.idea/