/*
binary consulting custom css
*/

header {
    background-image: url('../img/mosque.jpg');
}

section#contact ::-webkit-input-placeholder {
    color: #444;
}
section#contact :-moz-placeholder {
    color: #444;
}
section#contact ::-moz-placeholder {
    color: #444;
}
section#contact :-ms-input-placeholder {
    color: #444;
}

.form-control {
    color: #444;
}

.mosque-image{
    width: 400px;
    height: 250px;
}