/*
binary consulting custom css
*/
body, p{
    font-size: 16px !important;
}

header {
    background-image: url('../img/mosque.jpg');
}

section#contact ::-webkit-input-placeholder {
    color: #444;
}
section#contact :-moz-placeholder {
    color: #444;
}
section#contact ::-moz-placeholder {
    color: #444;
}
section#contact :-ms-input-placeholder {
    color: #444;
}

.form-control {
    color: #444;
}

.mosque-image{
    width: 400px;
    height: 220px;
}

#mosquees .portfolio-item .portfolio-caption {
    padding: 15px;
    height: 90px;
}

@media screen and (max-width: 767px) {
    P{
        text-align: justify;     
    }
}