/*
ARCHILOG custom css
*/
.container p{
    font-size: 16px !important;
}

header {
    background-image: url('../img/main-image.png');
}

section#contact ::-webkit-input-placeholder {
    color: #444;
}
section#contact :-moz-placeholder {
    color: #444;
}
section#contact ::-moz-placeholder {
    color: #444;
}
section#contact :-ms-input-placeholder {
    color: #444;
}

.form-control {
    color: #444;
}

.img-responsive{
    display: inline;
}
section {
    padding: 100px 0;
}

#mosquees .portfolio-item .portfolio-caption {
    padding: 15px;
    height: 90px;
}

header .intro-text .intro-heading  {
    font-size: 50px;
}

header .intro-text .text-muted {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 15px;
}

header .intro-text .intro-subheading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
    color: #f7ecb5;
}

@media (max-width: 767px) {
    P{
        text-align: justify;     
    }

    header .intro-text .intro-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    header .intro-text .intro-subheading {
        font-size: 20px;
    }

    section {
        padding: 60px 0;
    }

    .btn-xl {
        padding: 15px 30px;
    }
}

@media (min-width: 768px)
{
    header .intro-text {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    .navbar-right {
        margin-right: 10px;
    }

    .navbar-custom .nav li a {
        font-weight: 600;
    }

    header .intro-text .text-muted {
        font-size: 190%;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}

.service-heading{
    margin: 25px 0;
}

a, code {
    overflow-wrap: break-word;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent !important;
}

.dropdown-menu{
    background-color: #272727 !important;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
         color: #fff;
    }
}
