<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Horaires de prière | {% endblock %}</title>

        {% stylesheets 
            "bundles/app/bootstrap-3.3.7/css/bootstrap.min.css"
            "bundles/app/css/main.css"
            "bundles/app/css/sidebar.css"
            "bundles/app/font-awesome/css/font-awesome.min.css"
            filter="cssrewrite"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}

        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        {% include ("partial/navbar.html.twig") %}

        {% if app.user %}
            {% include ("partial/sidebar.html.twig") %}
        {% endif %}

        <div class="col-md-10 col-md-offset-1">
        {% block body %}{% endblock %}
    </div>

    {% javascripts
                '@AppBundle/Resources/public/jquery/js/jquery-1.12.4.min.js'
                '@AppBundle/Resources/public/bootstrap-3.3.7/js/bootstrap.min.js'
                '@AppBundle/Resources/public/js/main.js'
                '@AppBundle/Resources/public/js/sidebar.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}    

    {% block javascripts %}
    {% endblock %}

</body>
</html>
