<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% include "partial/favicon.html.twig" %}
    <title>Manintenance | Mawaqit</title>
</head>
    <body>
        <div style="background-color: #1C440C; color: #ffffff; font-family: Arial; text-align: center; margin:auto 20px; padding: 20px">
            <h1>Site en maintenance</h1>
            <h2>Mawaqit s'améliore pour vous apporter toujours le meilleur</h2>
        </div>

        <script type="text/javascript" src="{{ asset('bundles/app/jquery/js/jquery-1.12.4.min.js') }}"></script>
        <script>
            setInterval(function () {
                $.ajax({
                    url: window.location.href,
                    success: function () {
                        location.reload();
                    }
                });
            }, 60000);
        </script>
    </body>
</html>