{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="container">

        <h1>MENTIONS LEGALES</h1>
        <strong>Informatique &amp; Libertés</strong>
        <br>
        <br>Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui
        vous
        concernent. Vous pouvez exercer ce droit en nous contactant via contact@mawaqit.net ou par courrier
        postal
        envoyé à l’adresse suivante :
        <br>
        <br>Binary consulting
        <br>5 Passage des fauconniers
        <br>78800 Houilles
        <br>
        <br>Le site internet mawaqit.net a recours à l'utilisation de cookies afin de reconnaître l’utilisateur lors
        de
        sa connexion sur son site. L'utilisateur peut à tout moment désactiver l'utilisation de ces cookies en
        sélectionnant les paramètres appropriés dans son navigateur.
        <br>
        <br>mawaqit.net est un site édité par la société Binary consulting.
        <br>
        <br>Binary consulting est une SASU au capital de 300 euros, dont le siège social est à Houilles (78800) 5
        Passage des fauconniers, immatriculée au registre du commerce et des sociétés de Versailles sous le numéro
        818
        208 142 (numéro de TVA intracommunautaire FR 56 818208142).
        <br>
        <br>Directeur de la publication : Monsieur Ibrahim Zehhaf.

        <br>
        <br>
        <strong>Propriété Intellectuelle
        </strong>
        <br>
        <br>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la
        propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les représentations
        iconographiques et photographiques. La reproduction, adaptation et/ou traduction de tout ou partie de ce
        site
        sur un support quel qu'il soit, est formellement interdite sauf autorisation expresse du Directeur de la
        publication.
        <br>
        <br>
        <strong>Modification du site
        </strong>
        <br>
        <br>L'équipe éditoriale se réserve le droit de modifier ou de corriger le contenu de ce site et de ces
        mentions
        légales à tout moment et ceci sans préavis.
        <br>
        <br>
        <strong>Hébergeur
        </strong>
        <br>
        <br>Le site mawaqit.net est hébergé par la société OVH.
        <br>
        <br>OVH
        <br>2 rue Kellermann BP 80157
        <br>59100 Roubaix
    </div>
{% endblock %}
