parameters:
    database_host: mawaqit_db
    database_port: null
    database_name: mawaqit
    database_user: root
    database_password: ~
    mailer_host:  ~
    mailer_port: ~
    mailer_user: ~
    mailer_password: ~
    secret: theSecret
    version: 3.0.0

    # Google API
    google_api_key: ''
    google_maps_api_key: ''
    google.recaptcha.private_key: ''
    google.recaptcha.public_key: ''

    # Weather API
    weather_api_key: ''

    # Mawaqit API
    mawaqit_api_access_token: ''
    slack_token: 'fake-token'
    mailer_spool_dir: '%kernel.cache_dir%/swiftmailer/spool'