{% extends "base.html.twig" %}
{% block body %}
    {% block fos_user_content %}
        <h1>En raison d'une attaque DDoS par des robots russes le service est Momentanément indisponible</h1>
        {#{% include "@FOSUser/Registration/register_content.html.twig" %}#}
        {#{% include 'modals//terms_of_use_modal.html.twig' %}#}
    {% endblock fos_user_content %}
{% endblock body %}

{% block additional_javascripts %}
    <script>
        function handleTou(touCheckbox) {
            var $validButton = $('#validate-btn');
            $validButton.prop('disabled', true);
            if ($(touCheckbox).is(":checked")) {
                $validButton.prop('disabled', false);
            }
        }

        $("#fos_user_registration_form_tou").change(function (e) {
            handleTou(this);
        });

        handleTou($("#fos_user_registration_form_tou"));
    </script>
{% endblock %}