* * * * * echo $(date) >>  /tmp/test_cron

######################################################
# Reset api call counters every day at 00:10
#0 0 * * * /var/www/mawaqit/repo/bin/console app:reset-api-counters -e prod > /var/log/mawaqit/cron-reset-api-counters.log

######################################################
# Data base backup every day 00:10
#0 10 * * *  /var/www/mawaqit/tools/dbBackup.sh > /var/log/mawaqit/dbBackup.log

######################################################
# Email sending from spool, 150 every 1h30 hours
#00 0-21/3 * * * /var/www/mawaqit/repo/bin/console swiftmailer:spool:send --message-limit=150 -e prod > /dev/null 2>&1
#30 1-22/3 * * * /var/www/mawaqit/repo/bin/console swiftmailer:spool:send --message-limit=150 -e prod > /dev/null 2>&1

######################################################
# Remove older users and not validated mosques every day at 01:00
#0 1 * * * /var/www/mawaqit/repo/bin/console app:clean-old-users -e prod > /var/log/mawaqit/cron-remove-old-users.log
#0 2 * * * /var/www/mawaqit/repo/current/bin/console app:clean-mosques -e prod > /var/log/mawaqit/cron-clean-mosques.log

######################################################
# Backup uploads every day at 01:30
#30 1 * * * /var/www/mawaqit/tools/imagesBackup.sh > /var/log/mawaqit/imagesBackup.log
