######################################################
# Data base backup every day 00:00
0 * * * *  /var/www/mawaqit/tools/dbSync.sh > /var/log/mawaqit/dbSync.sh.log

######################################################
# Sync uploaded images with pre prod every day at 00:15
0 15 * * * /var/www/mawaqit/tools/imagesSync.sh > /var/log/mawaqit/imagesSync.sh.log

######################################################
# Reset api call counters every day at 00:30
0 30 * * * dock bin/console app:reset-api-counters -e prod > /var/log/mawaqit/cron-reset-api-counters.log

######################################################
# Remove old users and not validated mosques every day at 00:45, 01:00
0 45 * * * dock bin/console app:clean-old-users -e prod > /var/log/mawaqit/cron-remove-old-users.log
1 0 * * * dock bin/console app:clean-mosques -e prod > /var/log/mawaqit/cron-clean-mosques.log

######################################################
# Email sending from spool, 150 every 1h30 hours
00 0-21/3 * * * dock bin/console swiftmailer:spool:send --message-limit=150 --env=prod > /var/log/mawaqit/cron-email.log
30 1-22/3 * * * dock bin/console swiftmailer:spool:send --message-limit=150 --env=prod > /dev/null 2>&1