<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
        }

        .main {
            width: 90%;
            margin: 0 auto;
            background-color: rgba(209, 244, 201, 0.23);
            padding: 1rem 2rem;
            font-size: 1.2rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            margin-top: 1rem;
        }

        .header table {
            width: 100%;
        }

        .header h1 {
            text-align: center;
            color: #286029;
            font-size: 3rem;
            margin-top: 1rem;
        }

        .ar {
            direction: rtl;
            text-align: right;
            font-size: 1.3rem;
        }

        .footer {
            font-size: 0.8rem;
            color: #3c3c3c;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="header">
        <table>
            <tr>
                <td><img src="https://mawaqit.net/apple-touch-icon.png" alt="" width="70px"></td>
                <td><h1>Mawaqit</h1></td>
                <td style="text-align: right"><img src="https://mawaqit.net/apple-touch-icon.png" alt="" width="70px"></td>
            </tr>
        </table>
    </div>
    {% block content %}
    {% endblock %}
    <br>
    <p>The mawaqit team</p>
    <a href="https://twitter.com/MawaqitTeam"><img src="https://i1.wp.com/marsfallpodcast.com/wp-content/uploads/2017/09/Twitter-Download-PNG.png" width="42px" style="margin-right: 5px"></a>
    <a href="https://www.facebook.com/Mawaqit-878834798944718/"><img src="http://www.icmformation.com/medias/images/logo-facebook.png" width="42px" style="margin-right: 5px"></a>
    <a href="https://www.youtube.com/channel/UCK0bHMvAlVL8NvyofiMulUw/"><img src="http://www.informateque.net/wp-content/uploads/2011/04/youtube-logo.png" width="42px"></a>
    <br/>
    <hr>
    <div class="footer">
        <p>
            Ce message et toutes les pièces jointes sont confidentiels et établis à l'intention exclusive
            de son ou ses destinataires. Si vous avez reçu ce message par erreur, merci d'en avertir
            immédiatement l'émetteur et de détruire le message. Toute modification, édition, utilisation ou
            diffusion non autorisée est interdite. L'émetteur décline toute responsabilité au titre de ce
            message s'il a été modifié, déformé, falsifié, infecté par un virus ou encore édité ou diffusé
            sans autorisation.
        </p>
        <hr>
        <p>
            This message and any attachments are confidential and intended for the named addressee(s) only.
            If you have received this message in error, please notify immediately the sender, then delete
            the message. Any unauthorized modification, edition, use or dissemination is prohibited.
            The sender shall not be liable for this message if it has been modified, altered, falsified, infected
            by a virus or even edited or disseminated without authorization.
        </p>
    </div>
</div>
</body>
</html>
