<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="width: 1024px; margin: auto; background-color: #ccc; padding: 20px">
        <h1 style="text-align: center; font-family: Arial; color: #3e8f3e">MAWAQIT</h1>
        {% block content %}
        {% endblock %}

        <br/>
        <p>The mawaqit team</p>
        <a href="https://www.facebook.com/Mawaqit-878834798944718/">
            <img src="http://www.icmformation.com/medias/images/logo-facebook.png" width="42px">
        </a>
        <a href="https://www.youtube.com/channel/UCK0bHMvAlVL8NvyofiMulUw/">
            <img src="http://www.informateque.net/wp-content/uploads/2011/04/youtube-logo.png" width="42px">
        </a>
    </div>
</body>
</html>
