{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <div>
        <p>
            Essalamu alaykum wa rahmatu allahi wa barakatuh<br/><br/>
            Vous avez récemment ajouté la mosquée "<strong>{{ mosque.name }}</strong>" située au {{ mosque.localisation }} <br/>
            Après vérification, nous constatons que cette mosquée existe déjà sur mawaqit<br/>
        </p>
        <p>
            Pourriez-vous svp nous préciser s'il s'agît d'une installation à domicile ou d'une vraie mosquée,
            auquel cas nous vous invitons à nous donner plus d'informations sur la mosquée
            (Le n° de téléphone du président de l'association, une facture d'électricité/eau/tél, l'apparition au journal officiel...
            ou toute autre preuve que vous jugez utile pour la validation de votre mosquée)<br/><br/>
            Sans réponse de votre part dans un délai de deux semaines, la mosquée sera automatiquement supprimée.<br/><br/>
            Barak Allahu fik et merci pour votre compréhension <br/>
        </p>
        <hr>
        <p>
             Essalamu alaykum wa rahmatu allahi wa barakatuh <br/> <br/>
             You recently added the "<strong>{{ mosque.name }}</strong>" mosque located at {{ mosque.localisation }}<br/>
             After checking, we find that this mosque already exists on mawaqit
         </p>
        <p>Could you please tell us if it is a home installation or a real mosque, in which case we invite you to give us more information about the mosque
            (The telephone number of the president of the association, an electricity/water/phone bill, the appearance in the official journal ...
            or any other proof)<br/><br/>
            If you do not answer within 2 weeks, the mosque will be automatically deleted.<br/><br/>
            Barak Allahu fik and thank you for your understanding <br/>
        </p>
    </div>
    <hr>
    <div class="ar">
        <p>
            السلام عليكم ورحمة الله وبركاته
        </p>
        <p>
            بعد التثبت من عنوان مسجدك، تبين لنا أنه يوجد مسجد بنفس
            البيانات مسجل في موقع مواقيت
        </p>
        <p>
            لذا الرجاء مدنا
            في هذه الحالة بالمزيد من المعلومات عن المسجد رقم هاتف رئيس الجمعية، فاطورة كهرباء/ماء/هاتف، نسخة مصورة من الجريدة
            الرسمية... أو أي دليل آخر على وجودها
        </p>
        <p>
            إذا لم يصلنا رد في غضون أسبوعين، يتم حذف المسجد تلقائيا.
        </p>
        <p>
            باراك الله فيك ونشكرك على تفهمك
        </p>
    </div>
{% endblock %}
