{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <p>
        Essalamu alaykum
    </p>
    <p>
        Votre mosquée "<b>{{ mosque.title }}</b>" vient d'être suspendue par l'équipe mawaqit pour le motif suivant
        <b>"{{ ("mosque.suspensionReason." ~ mosque.reason)|trans }}"</b>,
        veuillez nous contacter au plus vite en répondant à ce mail.
    </p>
    <hr>
    <p>
        Your mosque "<b>{{ mosque.title }}</b>" has been suspended by the mawaqit team for the following reason
        <b>"{{ ("mosque.suspensionReason." ~ mosque.reason)|trans({}, null, "en") }}"</b>,
        please contact us as soon as possible by replying to this email
    </p>
{% endblock %}