{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <div style="font-size: 14px">
        <p>
            Essalamu alaykum
        </p>
        <p>
            Votre mosquée {{ mosque.title }} vient d'être suspendue par l'équipe mawaqit, veuillez nous contacter au plus vite en répondant à ce mail.<br/>
            Sans réponse de votre part dans un délai de deux semaines, la mosquée sera automatiquement supprimée.
        </p>
        <hr>
        <p>
            Your mosque {{ mosque.title }} has been suspended by the mawaqit team, please contact us as soon as possible by replying to this email.<br/>
            If you do not answer within one 2 weeks, the mosque will be automatically deleted.
        </p>
    </div>
{% endblock %}