{% extends 'base.html.twig' %}

{% block title %} {{ 'Administration' ~ ' - ' ~parent() }}{% endblock %}

{% block body %}
    <h1>Outils d'administration</h1>

    {% include 'partial/flash_msg.html.twig' %}

    <div class="row">
        <div class="col-md-5 mt-3">
            <h3>Ajuster la date hégirienne de toutes les mosquées et domiciles</h3>
            {{ form(hijriForm) }}
        </div>
        <div class="col-md-2 mt-3"></div>
        <div class="col-md-5 mt-3">
            <h3>Forcer le rechargement</h3>
            <a href="{{ path('mosque_force_update_all') }}" class="btn btn-primary">{{ 'mosque.force_update_all.action'|trans }}</a>
        </div>
    </div>
{% endblock %}