<div class="adhan display-none">
    <div class="ar">
        <div class="title">دعاء ما بعد الأذان</div>
        اللّهُـمَّ رَبَّ هَذِهِ الدّعْـوَةِ التّـامَّة وَالصّلاةِ القَـائِمَة آتِ محَـمَّداً الوَسيـلةَ وَالْفَضـيلَة وَابْعَـثْه مَقـامـاً مَحـموداً الَّذي وَعَـدْتَه 
    </div>

    {% if lang == 'fr' %}
        <div class="fr">
            <div class="title">Invocation après l'adhân</div>
            Ô Allah, Maître de cet appel parfait et de la prière que l'on va accomplir, donne à Mohammed le pouvoir d'intercéder 
            (le Jour du Jugement) et la place d'honneur [au Paradis], et ressuscite-le dans la position louable que Tu lui as promise
        </div>
    {% endif %}
</div>
