<style>
    #slider{
        font-size: 8px
    }
    .douaa-after-prayer .fr{
        margin-top: 30px;
    }
</style>

<div id="slider">
    <ul>
        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 950%">
                أَسْـتَغْفِرُ الله، أَسْـتَغْفِرُ الله، أَسْـتَغْفِرُ الله<br>
                اللّهُـمَّ أَنْـتَ السَّلامُ ، وَمِـنْكَ السَّلام ، تَبارَكْتَ يا ذا الجَـلالِ وَالإِكْـرام
                اللَّهُمَّ أَعِنِّي عَلَى ذِكْرِكَ وَشُكْرِكَ وَحُسْنِ عِبَادَتِكَ 
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 700%">
                    <div>Astaghfirou Allah, Astaghfirou Allah, Astaghfirou Allah</div>
                    <div>Allahoumma anta Es-salam wa minka Es-salam, tabarakta ya dh'al djalali w'el ikram</div>
                    <div>Allahoumma A3inni 3ala dhikrika wa choukrika wa housni 3ibadatik</div>
                </div>
            </div>
        </li>
        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 950%">
                لا إلهَ إلاّ اللّهُ وحدَهُ لا شريكَ لهُ، لهُ المُـلْكُ ولهُ الحَمْد، وهوَ على كلّ شَيءٍ قَدير، اللّهُـمَّ لا مانِعَ لِما أَعْطَـيْت، وَلا مُعْطِـيَ لِما مَنَـعْت، وَلا يَنْفَـعُ ذا الجَـدِّ مِنْـكَ الجَـد
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 800%">
                    La ilaha illa Allah, wahdahou la charika lah, lahou elmoulkou wa lahou elhamdou, wa houa 3ala koulli chay'in kadir, 
                    Allahoumma la  mani3a lima a3tayte, wa la mou3tia lima mana3te, wa la yanfa3ou dh'al djaddi minka eldjad
                </div>
            </div> 
        </li>

        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 1200%">
                <div class="text-center">بِسْمِ اللهِ الرَّحْمنِ الرَّحِيم</div>
                قُلْ هُوَ ٱللَّهُ أَحَدٌ، ٱللَّهُ ٱلصَّمَدُ، لَمْ يَلِدْ وَلَمْ يُولَدْ، وَلَمْ يَكُن لَّهُۥ كُفُوًا أَحَدٌ
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 900%">
                    <div class="text-center">Bismi'llahi arrahmani arrahim</div>
                    Koul houa allaho ahad, Allaho assamad, lam yalid wa lam youlad, wa lam yakoune lahou koufou'ane ahad
                </div>
            </div>
        </li> 
        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 950%">
                <div class="text-center">بِسْمِ اللهِ الرَّحْمنِ الرَّحِيم</div>
                قُلْ أَعُوذُ بِرَبِّ ٱلْفَلَقِ، مِن شَرِّ مَا خَلَقَ، وَمِن شَرِّ غَاسِقٍ إِذَا وَقَبَ، وَمِن شَرِّ ٱلنَّفَّٰثَٰتِ فِى ٱلْعُقَدِ، وَمِن شَرِّ حَاسِدٍ إِذَا حَسَدَ
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 800%">
                    <div class="text-center">Bismi'llahi arrahmani arrahim</div>
                    Koul a3oudhou bi rabbi elfalak, mine charri ma khalak, wa mine charri ghassikine idha wakab, wa mine charri ennaffathati fi el3oukad, 
                    wa mine charri hassidine idha hassad
                </div>
            </div>
        </li> 
        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 950%">
                <div class="text-center">بِسْمِ اللهِ الرَّحْمنِ الرَّحِيم</div>
                قُلْ أَعُوذُ بِرَبِّ ٱلنَّاسِ، مَلِكِ ٱلنَّاسِ، إِلَٰهِ ٱلنَّاسِ، مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ، ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ، مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ 
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 800%">
                    <div class="text-center">Bismi'llahi arrahmani arrahim</div>
                    Koul a3oudhou bi rabbi ennas, maliki ennas, ilahi ennas, mine charri elwaswassi elkhannas, alladhi youaswissou fi soudouri ennas, mina eldjinnati wa ennas
                </div>
            </div>
        </li> 
        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 800%">
                اللّهُ لاَ إِلَـهَ إِلاَّ هُوَ الْحَيُّ الْقَيُّومُ لاَ تَأْخُذُهُ سِنَةٌ وَلاَ نَوْمٌ لَّهُ مَا فِي السَّمَاوَاتِ وَمَا فِي الأَرْضِ مَن ذَا الَّذِي يَشْفَعُ عِنْدَهُ إِلاَّ بِإِذْنِهِ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ وَلاَ يُحِيطُونَ بِشَيْءٍ مِّنْ عِلْمِهِ إِلاَّ بِمَا شَاء وَسِعَ كُرْسِيُّهُ السَّمَاوَاتِ وَالأَرْضَ وَلاَ يَؤُودُهُ حِفْظُهُمَا وَهُوَ الْعَلِيُّ الْعَظِيمُ
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 600%">
                    Allaho la ilaha illa houa elhayou elkayoum la t'akhoudhouhou sinatoune wa la nawm, lahou ma fi essmawati wa ma fi elard
                    mane dh'alladhi yachfa3ou 3indahou illa bi idhnih, ya3lamou ma bayna aydihim wa ma khalfahoum
                    wa la youhitouna bi chay'ine mine 3ilimihi illa bima cha'a wassi3a koursiyouhou essamawati w'elarda wala ya'oudouhou hifdhohouma wa houa el3aliou al3adhim
                </div>
            </div>
        </li> 
        <li>
            <div class="title">الأذكار بعد الصلاة</div>
            <div style="font-size: 900%">
                <div>سُـبْحانَ اللهِ، والحَمْـدُ لله ، واللهُ أكْـبَر (33مرة )</div>
                <div>لا إلهَ إلاّ اللّهُ وَحْـدَهُ لا شريكَ لهُ، لهُ الملكُ ولهُ الحَمْد، وهُوَ على كُلّ شَيءٍ قَـدير</div>
            </div>
            <div class="fr">
                <div class="title">Invocations après la prière</div>
                <div style="font-size: 850%">
                    <div>Soubhan allah wa'lhamdou lillah wa'llahou akbar (33 fois)</div>
                    <div>La ilaha illa Allah, wahdahou la charika lah, lahou elmoulkou wa lahou elhamdou, wa houa 3ala koulli chay'in kadir</div>
                </div>
            </div>
        </li> 
    </ul>  
</div>
