<div class="jumua-dhikr-reminder display-none">
    <div class="ar">
        <div class="title">الجمعة</div>
        عَنْ أَبِي هُرَيْرَةَ قَالَ قَالَ رَسُولُ اللَّهِ صَلَّى اللَّهم عَلَيْهِ وَسَلَّمَ مَنْ تَوَضَّأَ فَأَحْسَنَ الْوُضُوءَ ثُمَّ أَتَى الْجُمُعَةَ فَاسْتَمَعَ وَأَنْصَتَ غُفِرَ لَهُ مَا بَيْنَهُ وَبَيْنَ الْجُمُعَةِ وَزِيَادَةُ ثَلاثَةِ أَيَّامٍ وَمَنْ مَسَّ الْحَصَى فَقَدْ لَغَا
    </div>

    {% if lang == 'fr' %}
        <div class="fr">
            Le Prophète (que le salut d'Allah soit sur lui) a dit « Celui qui fait les ablutions parfaitement puis se rend au jumu'a puis écoute et se tait, il lui est pardonné ce qu'il y a entre ce moment et le vendredi suivant et trois jours en plus et celui qui touche des cailloux a certes fait une futilité
        </div>
    {% endif %}
</div>