<div class="modal fade" id="terms-of-use-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">{{ 'terms_of_use.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'terms_of_use.text'|trans|raw }}
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
            </div>
        </div>
    </div>
</div>