{% extends 'base.html.twig' %}
{% block body %}
    <h3>{{ 'flashMessage.label'|trans }}</h3>
    <p class="text-muted">{{ 'flashMessage.info'|trans|raw }}</p>
    <form action="{{ path('flash_message_edit', {'mosque': mosque.id}) }}" method="post">
        {{ form(form) }}
    </form>
{% endblock %}