{% extends "base.html.twig" %}

{% block title  'Connection' %}

{% block body %}
    {% block fos_user_content %}
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="text-center">
                        {{ include('@FOSUser/Security/login_content.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}
