<div class="modal fade" id="iframe-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{'mosqueList.iframeAddTitle'|trans}}</h4>
            </div>
            <div class="modal-body">
                {{'mosqueList.iframeCopyText'|trans}} <br>  <br>

                <div id="iframe-text"></div><br>
                <div id="iframe-html" class="text-center" ></div>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'close'|trans}}</button>
            </div>
        </div>
    </div>
</div>