.flex {
    display: flex;
    justify-content: space-between;
}

.flex > div {
    flex-grow: 1;
    flex-basis: 0;
}

.month-panel .form-control, .iqama-month-panel .form-control  {
     padding: 0;
}

.calendar-prayer-time {
    padding: 0;
    border-radius: 0;
    border-style: dashed;
}

.checkbox label {
    font-weight: 700;
}

label {
    display: inline;
}

.checkbox {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
}

.panel-default .panel-heading {
    background-color: #e2e2e2;
    padding: 15px;
}

.panel-default {
    border-color: #486e3b;
}

#azabStop {
    cursor: pointer;
    margin-top: 17px;
    margin-left: -5px;
    width: 36px;
}

.background-choice {
    width: 300px;
    height: 200px;
    margin-top: 1rem;
}

.theme {
    width: 300px;
    height: 175px;
}

#illustration {
    width: 100%;
}

#illustration:hover {
    display: block;
    width: 800px;
    position: absolute;
    z-index: 9999;
}