.calendar-prayer {
    padding: 1px;
    float: left;
    width: 14.2%;
}

.calendar-prayer-time {
    padding: 0;
}

.checkbox label, .radio label {
    font-weight: 700; 
}

label {
    display: inline;
}