body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    height:100vh;
    font-family: 'mawaqit', Arial, Helvetica, sans-serif;
    text-align: center;
}


ul {
    position: relative;
    margin: auto;
    padding: 0;
    list-style: none;
}

li {
    display: block;
    float: left;
    margin: auto;
}

.title {
    color: #f0ad4e;
}

li img {
    width: 99%;
    height: 100vh;
}