.center-placeholder::-webkit-input-placeholder {
    text-align: center;
}

.center-placeholder:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

.center-placeholder::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

.center-placeholder:-ms-input-placeholder {
    text-align: center;
}

.feature-icon{
    color: #196827;
    font-size: 10rem;
}