body {
    padding: 100px 50px 50px 50px;
}

@media (max-width: 768px) {
    body {
        padding: 60px 10px 50px 10px;
    } 
}

.upper-first {
    text-transform: capitalize;
}
.upper-first:first-letter {
    text-transform: uppercase;
}

.pointer{
    cursor: pointer;
}

.white {
    color: white;
}

.btn-action{
    margin-bottom: 3px
}