body {
    padding-top: 100px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
}

.upper-first {
    text-transform: capitalize;
}
.upper-first:first-letter {
    text-transform: uppercase;
}

.pointer{
    cursor: pointer;
}

.white {
    color: white;
}