body {
    position: relative;
    font-family: 'koufi', Arial, Helvetica, sans-serif;
}

.main {
    padding: 60px 10px;
}

@media (min-width: 768px) {
    .main {
        padding: 100px 50px;
    }
}

.upper-first {
    text-transform: capitalize;
}

.upper-first:first-letter {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

.white {
    color: white;
}

.modal-header {
    padding: 15px;
    color: #FFF;
    background-color: #449d3c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header.red {
    background-color: #d9534f;
}

.btn-action {
    float: left;
    margin: 3px 5px 0 0;
    width: 40px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 2rem;
}


.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 2rem;
}


.toggle-on {
    left: -10px;
}

.navbar-form {
    margin: 0;
    padding: 0;
}

.navbar-form .form-group {
    display: inline-block;
}

.help {
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.help div {
    z-index: 1000;
    position: absolute;
    top: 3px;
    background: #08920d;
    color: #fff;
    padding: 15px;
    left: 0;
}

.help div span {
    position: absolute;
    top: 3px;
    right: 4px;
}

.version {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #3c3c3c;
}

.checkbox label .toggle, .checkbox-inline .toggle {
    margin-left: 0;
    margin-right: 0;
}


.checkbox label {
     padding-left: 0px !important;
     padding-right: 0px !important;
}

.toggle-off {
    left: 55%;
}

.form-control{
    padding: 3px 12px;
    display: block !important;
    width: 100% !important;
}