.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

.iframe-button {
    cursor: pointer;
}

#iframe-text {
    color: #005fb3;
}

iframe{
    resize: both;
}

.check {
    background-color: #c7e5fd;
}

.duplicated {
    background-color: #daae9b;
}

.new {
    background-color: #fbd6d9;
}

.suspended {
    background-color: #cccccc;
}

.calendarIncompleted {
    background-color: #fff2cf;
}

.fa-map-marker {
    font-size: 150%;
    cursor: pointer
}

.fa-map-marker.mobile {
    bottom: 0px;
    right: 15px;
    top: unset;
}