@import "fonts.css";

body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
}

.spinner{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 48%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tablette mode paysage */
@media (max-width:1300px){
    body {
        font-size: 8px;
    }
}

.main, 
.iqama, 
.adhan, 
.douaa-between-adhan-iqama, 
.jumua-dhikr-reminder {
    height:100vh;
    margin: auto;
}

.main{
    width: 98%;    
    position: relative;
}

.top-content{
    height: 41%;
    position: relative;
    overflow: hidden;
}

.top-content .adhan-flash, .top-content .alarm-flash{
    font-size: 1700%;
    line-height: 160%;
}

.settings
{
    font-size: 30px;
    margin-top: 10px; 
    color: #fff;
}

.prayer-content{
    height:32%;
}

.header{
    font-size: 550%;
    color: yellowgreen;
    padding-top: 10px;
}

.joumouaa, .custom-time{
    padding-top: 100px;
    font-size: 500%;
}

.chourouk-id, .joumouaa-id, .aid-id, .imsak-id{
    color: yellowgreen;
    font-size: 160%;
}

.aid-id {
    color: red;
}

.time{
    font-size: 1250%;
}

.gregorianDate, .hijriDate{
    font-size: 500%;
}

.hijriDate{
    font-family: 'Amiri';
}

.prayer-text {
    font-size: 600%;
    border-top: 1px #fff solid;
} 

.prayer-text .text, 
.prayer-time .prayer, 
.prayer-wait .wait {
    width: 20%;
    float: left;
}

.prayer-time {
    line-height: 120px;
}

.prayer-time .prayer{
    color: yellowgreen;
    font-size: 780%;
}

.prayer-wait .wait{
    font-size: 580%;
    border-bottom: 1px #fff solid;
}

.prayer-hilighted {
    color: #f0ad4e  !important;
    -webkit-box-shadow: 0px 0px 31px 4px rgba(255,255,255,0.47);
    -moz-box-shadow: 0px 0px 31px 4px rgba(255,255,255,0.47);
    box-shadow: 0px 0px 31px 4px rgba(255,255,255,0.47);
}

.text-hilighted {
    color: #f0ad4e  !important;
}

.flash, .visibilty-hidden{
    visibility: hidden;
}

.iqama{
    color: #fff;
    position: relative;
}

.iqama .top{
    height: 25%;
    font-size: 900%;
}

.iqama .bottom{
    padding-top: 50px;
    font-size: 700%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.iqama .image{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 50%;
}

.adhan .ar {
    font-size: 700%;
    font-family: 'Amiri';
}

.adhan .fr {
    margin-top: 50px;
    font-size: 500%;
}

.douaa-between-adhan-iqama .ar {
    font-size: 700%;
    font-family: 'Amiri';
}

.douaa-between-adhan-iqama .ar .title {
    margin-bottom: 20px;
}

.douaa-between-adhan-iqama .fr {
    margin-top: 50px;
    font-size: 500%;
}

.jumua-dhikr-reminder .title {
    font-size: 130%;
    margin-bottom: 20px;
}
.jumua-dhikr-reminder .ar {
    line-height: 160%;
    font-size: 650%;
    font-family: 'Amiri';
}

.jumua-dhikr-reminder .fr {
    margin-top: 50px;
    font-size: 450%;
}

.title {
    color: yellowgreen;
}

.site{
    font-size: 200%;
}

.assosciation{
    font-size: 200%;
}

.support{
    font-size: 150%;
    color: gray;
}
.support a {
    color: gray !important;
}

.version{
    font-family: Arial;
    font-size: 20px;
    color: #adadad;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.qr-code{
    position: absolute;
    bottom: 10px;
    left: 5px;
    background-color: #fff;
    border: solid 1px #fff;
}

.tooltip-arrow,
.header + .tooltip > .tooltip-inner {
    background-color: #f0ad4e;
    color: #000;
    text-align: left;
    font-size: 14px;
}

.display-none {
    display: none;
}

.message-image img {
    width: 98%;
    height: 99vh;
}

.footer-text{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

.random-hadith {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Amiri';
}

.random-hadith-fr {
    font-family: Arial,sans-serif;
}

.random-hadith .text {
    padding-top: 10px;
    height: 92%;
    overflow: hidden;
}

.random-hadith .text div{
    font-size: 150px;
    line-height: 300px;
}

.to-bottom-times
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.time-bottom{
    font-size: 450%;
    position: absolute;
    bottom: -10px;
    right: 5px;
    font-family: Arial,sans-serif;
}

.next-prayer {
    font-size: 450%;
    position: absolute;
    bottom: -10px;
    left: 5px;
    font-family: Arial,sans-serif;
}
.time-bottom, .next-prayer{
    color: #ec7047;    
}

.next-prayer .countdown {
    display: inline;
}

.temperature
{
    top: 5px;
    right: 5px;
    font-size: 600%;
    color: yellowgreen;
    position: absolute;
}

.red{
    color: #AA3333;
}

.orange{
    color: #d58512;
}

.blue{
    color: #3498db ;
}