body {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-color: #000000;
}

#spinner {
    background-image: url("/bundles/app/prayer-times/img/mawaqit.gif");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Tablette mode paysage */
@media (max-width: 1300px) {
    body {
        font-size: 8px;
    }
}

#black-screen,
.main,
.iqama {
    height: 100vh;
    margin: auto;
}

#black-screen {
    background-color: #080808;
}

.top-content {
    height: 55%;
    position: relative;
    overflow: hidden;
}

.top-content .adhan-flash, .top-content .alarm-flash {
    font-size: 1600%;
    line-height: 160%;
}

.top-content .alarm-flash {
    font-size: 1000%;
}

.prayer-content {
    height: 32%;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
}

.header {
    font-size: 500%;
    color: yellowgreen;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}

.joumouaa, .custom-time {
    margin-top: 100px;
    font-size: 500%;
}

.chourouk-id, .joumouaa-id, .aid-id, .imsak-id {
    color: yellowgreen;
    font-size: 140%;
}

.joumouaa2-id {
    color: yellowgreen;
    margin-top: -10px;
}

.joumouaa2-id > span{
    border-top: 2px yellowgreen solid;
}

.important {
    color: #B0413E;
}

.aid-id {
    color: #B0413E;
}

.time {
    font-size: 1100%;
}

.top-content .time {
    text-shadow: 6px 6px 10px #632e2e;
}

.gregorianDate {
    font-size: 500%;
}

.hijriDate {
    font-size: 430%;
}

.prayer-text {
    font-size: 600%;
    line-height: 130%;
}

.prayer-text .text,
.prayer-time .prayer,
.prayer-wait .wait {
    width: 20%;
    float: left;
}

.prayer-time {
    line-height: 110px;
    width: 98%;
    margin: auto;
}

.prayer-time .prayer {
    color: yellowgreen;
    font-size: 780%;
}

.ampm {
    font-size: 600% !important;
}

small {
    font-size: 60%;
    padding-left: 8px;
}

.prayer-wait .wait {
    font-size: 580%;
}

.prayer-hilighted {
    color: #f0ad4e !important;
    -webkit-box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.47);
    -moz-box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.47);
    box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.47);
}

.text-hilighted {
    color: #f0ad4e !important;
}

.flash, .visibilty-hidden {
    visibility: hidden;
}

.iqama {
    color: #fff;
    position: relative;
}

.iqama .top {
    height: 20%;
    font-size: 900%;
}

.iqama .bottom {
    padding-top: 50px;
    font-size: 700%;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
}

.iqama .image {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 60%;
}

.loudspeaker {
    width: 300px;
}

.adhan, .douaa-between-adhan-iqama, .jumua-dhikr-reminder{
    padding: 20px 10px;
}


.adhan .fr, .douaa-between-adhan-iqama .fr, .jumua-dhikr-reminder .fr {
    margin-top: 50px;
}

.adhan .title, .douaa-between-adhan-iqama .title, .jumua-dhikr-reminder .title {
    margin-bottom: 30px;
}

.title {
    color: yellowgreen;
}

.site {
    font-size: 200%;
}

.assosciation {
    font-size: 200%;
}

.support {
    font-size: 150%;
    color: gray;
}

.support a {
    color: gray !important;
}

.version {
    font-size: 20px;
    color: #adadad;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#mosque-id {
    font-size: 20px;
    color: #adadad;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.qr-code {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    border: solid 1px #fff;
}

.tooltip-arrow,
.header + .tooltip > .tooltip-inner {
    background-color: #f0ad4e;
    color: #000;
    text-align: left;
    font-size: 14px;
}

.display-none {
    display: none;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 200px;
}

.random-hadith {
    height: 68%;
    position: relative;
}

.random-hadith .text {
    padding: 10px;
    height: 89%;
    overflow: hidden;
}

.random-hadith .text div {
    font-size: 150px;
    line-height: 300px;
}

.next-prayer-bloc {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.time-bottom, .next-prayer {
    color: #ec7047;
    font-size: 450%;
}

.next-prayer .countdown {
    display: inline;
}

.top-content .next-prayer-bloc {
    position: absolute;
    bottom: 0;
}

#weather {
    top: 10px;
    right: 10px;
    font-size: 500%;
    position: fixed;
}

.red {
    color: #AA3333;
}

.orange {
    color: #d58512;
}

.yellow {
    color: #ffd05f;
}

.blue {
    color: #3498db;
}

/* short message css */
.short-message {
    position: relative;
    height: 200px;
    overflow: hidden;
    background-color: #000000;
}

.short-message:before {
    content: 'Text à défiler tout le temps et pendant lontemps';
    font-size: 1000%;
    color: #FFFFFF;
    position: absolute;
    width: 200%;
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    0% {
        left: 180%;
    }
    100% {
        left: -180%;
    }
}

@-moz-keyframes slide {
    0% {
        left: 180%;
    }
    100% {
        left: -180%;
    }
}

@keyframes slide {
    0% {
        left: 180%;
    }
    100% {
        left: -180%;
    }
}

.full-moon {
    width: 60px;
    height: 60px;
    margin: -10px 0 0 10px;
}

.white-days {
    color: #e74c3c;
}

.main-iqama-countdown .text {
    font-size: 800%;
}

.main-iqama-countdown .countdown {
    font-size: 2100%;
    color: #f0ad4e;
    line-height: 100%;
}

.dua-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-buttons{
    font-size: 220%;
    color: #777777;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.top-buttons div{
    display: inline;
    margin-left: 5px;
}

.top-buttons a{
    color: #777777;
}
