body {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-size: cover;
}

#spinner {
    background-image: url("/bundles/app/prayer-times/img/mawaqit.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#black-screen,
.main,
.iqama {
    height: 100vh;
    margin: auto;
}

#black-screen {
    background-color: #080808;
}

.top-content {
    height: 55%;
    position: relative;
    overflow: hidden;
}

.top-content .adhan-flash, .top-content .alarm-flash {
    font-size: 18vh;
    line-height: 160%;
}

.top-content .alarm-flash {
    font-size: 11vh;
}

.prayers {
    -webkit-box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 98%;
    padding: 10px;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.prayer-hilighted {
    background-color: #0b5c00;
    border-radius: 40px;
    padding: 0 10px;
}

.prayer-hilighted div {
    color: #FFFFFF !important;
}

.prayers .name {
    font-size: 6vh;
}

.prayers .wait {
    font-size: 5vh;
}

.time {
    color: yellowgreen;
    font-weight: bold;
    font-size: 9vh;
    line-height: 10vh;
    padding: 0 10px;
}

.prayers .ampm {
    font-size: 4vh;
    margin-left: 5px;
}

.joumouaa, .custom-time {
    margin: 50px auto;
    font-size: 6vh;
}

.joumouaa .prayer{
    width: 80%;
    margin: auto;
}

.joumouaa2-id {
    margin-top: -5px;
    font-size: 6vh;
}

.header {
    font-size: 7vh;
    color: yellowgreen;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}

.important {
    color: #B0413E;
}

.aid-id {
    color: #B0413E;
}

.content .currentTime {
    text-shadow: 6px 6px 10px #632e2e;
    font-size: 15vh;
}

.gregorianDate, .hijriDate {
    font-size: 5vh;
}

.flash, .visibilty-hidden {
    visibility: hidden;
}

.iqama {
    color: #fff;
    position: relative;
}

.iqama .top {
    height: 20%;
    font-size: 12vh;
}

.iqama .bottom {
    padding-top: 50px;
    font-size: 8vh;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
}

.iqama .image {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 60%;
}

.loudspeaker {
    width: 300px;
}

.adhan, .douaa-between-adhan-iqama, .jumua-dhikr-reminder {
    padding: 20px 10px;
}

.adhan .fr, .douaa-between-adhan-iqama .fr, .jumua-dhikr-reminder .fr {
    margin-top: 50px;
}

.adhan .title, .douaa-between-adhan-iqama .title, .jumua-dhikr-reminder .title {
    margin-bottom: 30px;
}

.title {
    color: yellowgreen;
}

.site {
    font-size: 3vh;
}

.assosciation {
    font-size: 2.5vh;
}

.support {
    color: gray;
    font-size: 2.5vh;
}

.support a {
    color: gray !important;
}

.version {
    font-size: 20px;
    color: #adadad;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#mosque-id {
    font-size: 20px;
    color: #adadad;
}

.store {
    direction: ltr;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    width: 12vw;
}

.store div {
    width: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store img {
    width: 100%;
}

#qrcode {
    height: 102px;
    width: 102px;
    border: solid 1px #fff;
}

.tooltip-arrow,
.header + .tooltip > .tooltip-inner {
    background-color: #f0ad4e;
    color: #000;
    text-align: left;
    font-size: 14px;
}

.display-none {
    display: none;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}

footer .info {
    width: 70%;
    margin: auto;
}

.random-hadith {
    height: 70%;
    position: relative;
}

.random-hadith .text {
    padding: 0 10px;
    height: 88%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.random-hadith .text div {
    line-height: 170%;
    margin: auto;
}

.next-prayer-bloc {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.next-prayer-bloc {
    color: #ec7047;
    font-size: 6vh;
}

.next-prayer .countdown {
    display: inline;
}

.top-content .next-prayer-bloc {
    position: absolute;
    bottom: 0;
}

#weather {
    top: 10px;
    right: 10px;
    font-size: 6vh;
    position: fixed;
}

.verry-hot {
    color: #AA3333;
}

.hot {
    color: #d58512;
}

.middle {
    color: #ffd05f;
}

.cold {
    color: #FFFFFF;
}

.verry-cold {
    color: #3498db;
}

@-webkit-keyframes slide {
    0% {
        left: 180%;
    }
    100% {
        left: -180%;
    }
}

@-moz-keyframes slide {
    0% {
        left: 180%;
    }
    100% {
        left: -180%;
    }
}

@keyframes slide {
    0% {
        left: 180%;
    }
    100% {
        left: -180%;
    }
}

.full-moon {
    width: 60px;
    height: 60px;
    margin: -10px 0 0 10px;
}

.white-days {
    color: #e74c3c;
}

.main-iqama-countdown .text {
    font-size: 9vh;
}

.main-iqama-countdown .countdown {
    font-size: 20vh;
    color: #f0ad4e;
}

.top-buttons {
    z-index: 1000;
    font-size: 220%;
    color: #777777;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.top-buttons div {
    display: inline;
    margin-left: 5px;
}

.top-buttons a {
    color: #777777;
}

.textSlide {
    height: 13vh;
}

.textSlide p {
    font-size: 7vh;
    line-height: 2;
    -moz-animation: textSlide 40s linear infinite;
    -webkit-animation: textSlide 40s linear infinite;
    animation: textSlide 40s linear infinite;
}

.textSlide-rtl p {
    -moz-animation: textSlide-rtl 40s linear infinite;
    -webkit-animation: textSlide-rtl 40s linear infinite;
    animation: textSlide-rtl 40s linear infinite;
}