body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: 'koufi', Arial, Helvetica, sans-serif;
}

.rtl{
    direction: rtl;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 2rem;
}

.joumouaa2-id {
    border-top: 1px solid;
    color: yellowgreen;
}