body {
    padding: 10px 5px;
    line-height: 1.2;
    position: relative;
    background-color: #000000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.row {
    margin: 0;
    padding: 0 10px;
}

.header {
    font-size: 20px;
    color: yellowgreen;
    margin: 10px 40px;
}

.time {
    font-size: 350%;
}

.gregorianDate, .hijriDate {
    font-size: 150%
}

.top-content {
    margin-bottom: 10px;
}

.prayer-content {
    margin: 20px 0 10px 0;
}

.prayer-content > div {
    height: 40px;
    line-height: 34px;
}

.prayer-content .athan-img {
    width: 25px;
}

.prayer-content .text {
    font-size: 150%;
}

.custom-time.label, .joumouaa.label {
    font-size: 170%;
}

.prayer-content .text.ar {
    font-size: 170%;
}

.prayer-content .wait {
    font-size: 150%;
}

.prayer-content .prayer, .chourouk-id, .joumouaa-id, .imsak-id, .aid-id {
    font-size: 250%;
    color: yellowgreen;
}

#navigate {
    margin-left: 5px;
    font-size: 120%;
    color: #2aabd2;
}

.ampm {
    font-size: 200% !important;
}

small {
    font-size: 70%;
    padding-left: 5px;
}

.next-prayer {
    font-size: 120%;
    color: #ec7047;
    margin-bottom: 1rem;
}

.next-prayer .countdown {
    display: inline;
}

.important {
    color: #B0413E;
}

.aid-id {
    color: #B0413E;
}

.prayer-hilighted {
    color: #f0ad4e !important;
    -webkit-box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.47);
    -moz-box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.47);
    box-shadow: 0px 0px 31px 4px rgba(255, 255, 255, 0.47);
}

.flash {
    visibility: hidden;
}

.site {
    font-size: 100%;
}

.site > span {
    color: #1b6d85;
}

.assosciation {
    font-size: 100%;
}

.version {
    font-size: 12px;
    color: #adadad;
    padding-top: 5px;
}

.title {
    color: yellowgreen;
    margin-bottom: 20px;
}

.display-none {
    display: none;
}

.support {
    margin-top: 10px;
    font-size: 90%;
    color: gray;
}

.support a {
    color: gray !important;
}

.iqama {
    color: #fff;
    padding: 10px;
}

.iqama .top {
    height: 25%;
    font-size: 400%;
}

.iqama .image {
    background-image: url(/bundles/app/prayer-times/img/phone.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 400px;
}

.hijriDate {
    margin: 10px 0;
}

.adhan, .douaa-between-adhan-iqama {
    font-size: 200%;
}

.adhan .title, .douaa-between-adhan-iqama .title {
    margin-top: 10px;
}

.col-xs-4 {
    padding-right: 5px;
    padding-left: 5px;
}

.full-moon {
    width: 30px;
    height: 30px;
    margin: -5px 0 0 10px;
}

.white-days {
    color: #e74c3c;
}

.main-iqama-countdown .text {
    font-size: 300%;
    margin-top: 50px;
}

.main-iqama-countdown .countdown {
    font-size: 800%;
    margin-top: 50px;
    color: #f0ad4e;
}

.adhan, .douaa-between-adhan-iqama, .jumua-dhikr-reminder {
    margin-top: 50px;
}

.usefulInfos, .usefulInfos .panel-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.usefulInfos a {
    text-decoration: none;
}

.usefulInfos .panel-title {
    color: #fff !important;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    font-size: 12px;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

.footer {
    margin-top: 20px;
}

.textSlide {
    height: 40px;
    overflow: hidden;
    position: relative;
}

.textSlide p {
    font-size: 130%;
    position: absolute;
    width: 1000px;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: textSlide 20s linear infinite;
    -webkit-animation: textSlide 20s linear infinite;
    animation: textSlide 20s linear infinite;
}

.textSlide-rtl p {
    -moz-animation: textSlide-rtl 20s linear infinite;
    -webkit-animation: textSlide-rtl 20s linear infinite;
    animation: textSlide-rtl 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes textSlide-ltr {
    0%   { -moz-transform: translateX(var(--translatex)); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes textSlide {
    0%   { -webkit-transform: translateX(var(--translatex)); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes textSlide {
    0%   {
        -moz-transform: translateX(var(--translatex)); /* Firefox bug fix */
        -webkit-transform: translateX(var(--translatex)); /* Firefox bug fix */
        transform: translateX(var(--translatex));
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

@-moz-keyframes textSlide-rtl {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(var(--translatex)); }
}
@-webkit-keyframes textSlide-rtl {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(var(--translatex)); }
}
@keyframes textSlide-rtl {
    0%   {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(var(--translatex)); /* Firefox bug fix */
        -webkit-transform: translateX(var(--translatex)); /* Firefox bug fix */
        transform: translateX(var(--translatex));
    }
}

#search {
    background: #FFFFFF url(/bundles/app/img/search-icon.png) no-repeat 6px center;
    outline: none;
    font-family: inherit;
    font-size: 120%;
    border: none;
    padding: 9px;
    border-radius: 10em;
    transition: all .7s;
    position: absolute;
    right: 5px;
    top: 15px;
    width: 12px;
    height: 12px;
    color: transparent;

    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -webkit-transition: all .7s;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -moz-transition: all .7s;
    line-height: 30px;
}

#search:focus {
    height: 10px;
    width: 85%;
    background-color: #fff;
    border: solid 2px yellowgreen;
    padding-left: 32px;
    color: #3c3c3c;
    cursor: auto;
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

#search::placeholder{
    color: transparent;
}

#search:focus::placeholder{
    color: #777777;
}

#search::-webkit-search-decoration,
#search::-webkit-search-cancel-button {
    display: none;
}

.ui-autocomplete {
    width: 95%;
    background-color: #cccccc;
    border-radius: 5px;
}
