@import "fonts.css";

body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
}

@media (min-width: 792px){
    body {
        font-size: 16px;
    }
}

.spinner{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.row{
    margin: 0;
    padding: 0 10px;
}

.header{
    font-size: 200%;
    color: yellowgreen;
    margin-top: 10px;
    margin-bottom: 10px;
}
.time{
    font-size: 400%;
}

.gregorianDate, .hijriDate{
    font-size: 150%
}

.top-content{
    margin-bottom: 10px;
}

.prayer-content{
    margin: 20px 0;
}

.prayer-content>div {
    height: 40px;
    line-height: 40px;
}

.prayer-content .athan-img {
    width: 25px;
}

.prayer-content .text {
    font-size: 150%;
    text-align: left;
}

.prayer-content .wait {
    text-align: right;
    font-size: 150%;
}

.prayer-content .prayer, .chourouk-id, .joumouaa-id, .imsak-id {
    font-size: 250% !important;
    color: yellowgreen;
}

.prayer-hilighted {
    color: #f0ad4e  !important;
    -webkit-box-shadow: 0px 0px 31px 4px rgba(255,255,255,0.47);
    -moz-box-shadow: 0px 0px 31px 4px rgba(255,255,255,0.47);
    box-shadow: 0px 0px 31px 4px rgba(255,255,255,0.47);
}

.custom-time, .joumouaa{
    font-size: 150%;
}

.footer{
    margin-top: 30px;
    padding: 0 10px;
}

.flash{
    visibility: hidden;
}

.site{
    font-size: 100%;
}
.site>span{
    color: #1b6d85;
}

.assosciation{
    font-size: 100%;
}

.version{
    font-size: 10px;
    color: #adadad;
    text-align: right;
    padding: 3px;
}

.ar{
    font-family: 'Amiri';
}

.title {
    color: yellowgreen;
    margin-bottom: 20px;
}

.display-none {
    display: none;
}
