.slider .title{ 
    margin:  20px 0;
}

.slider ul {
    position: relative;
    margin: auto;
    padding: 0;
    list-style: none;
}

.slider li {
    display: block;
    float: left;
    margin: auto;
    font-size: 70px;
    word-break: break-word;
}

.adhkar-after-prayer .title {
    color: yellowgreen;
    font-size: 700%;
    padding: 20px 0;
    height: 180px;
}

.message-slider .currentTimeShort{
    position: fixed;
    font-size: 7vh;
    top: 10px;
    left: 10px;
    margin: auto;
    width: fit-content;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    line-height: 1;
    border-radius: 20px;
}

.adhkar-after-prayer .fr {
    margin-top: 50px;
}

.message-slider .title {
    color: #f0ad4e;
}

.slider img {
    width: 100%;
    height: 100vh;
}