.slider {
    font-family: 'Amiri';
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.slider .title{ 
    color: yellowgreen;
    padding: 5px 0 20px 0;
}

.slider .ar {
    line-height: inherit;
}

.slider .fr{
    font-family: Arial;
}
    
.slider ul {
    position: relative;
    margin: auto;
    padding: 0;
    list-style: none;
}

.slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: auto;
}

.slider .ar .title  {
    font-size: 700%;
}
.slider .fr .title {
    font-size: 600%;
}

.message-info-slider li .title {
    font-size: 900%;
    color: #f0ad4e;
}

.message-info-slider li .content {
    font-size: 800%;
}


