.slider .title{ 
    margin:  20px 0;
}

.slider ul {
    position: relative;
    margin: auto;
    padding: 0;
    list-style: none;
}

.slider ul li {
    display: block;
    float: left;
    margin: auto;
}

.adhkar-after-prayer .title {
    color: yellowgreen;
    font-size: 700%;
    padding: 20px 0;
    height: 180px;
}

.adhkar-after-prayer .fr {
    margin-top: 50px;
}

.message-info-slider .title {
    color: #f0ad4e;
}

.slider ul li img {
    width: 99%;
    height: 100vh;
}