.prayers {
    background-color: rgba(0, 0, 0, 0.6);
}

.time, .header, .joumouaa2-id {
    color: #cd4433;
}

.prayer-hilighted {
    background-color: #cd4433;
}

.prayer-hilighted div {
    color: #FFFFFF !important;
}
