{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Mosquée{% endblock %}

{% block body %}
    <form action="{{ form_action|default(path('mosque_create'))}}" method="post">
        {% include 'mosque/form.html.twig' %}
    </form>
{% endblock %}